@import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Exo 2", sans-serif;
  color: white;
  background-color: #16101f;
}

.hero-image {
  background-image: url("./background_image.jpg");
  width: 100%;
  min-height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.title {
  font-size: 3em;
  text-align: center;
}

* {
  box-sizing: border-box;
}
.col3 {
  padding-left: 80px;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.column:nth-child(1) {
  display: flex;

  flex-direction: column-reverse;
}

.imgdiv {
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
li {
  list-style-type: decimal;
}
div .btn {
  background-image: url("./play_button.png");
  background-size: cover;
  background-color: transparent;
  border: 0;
  background-position: center;
  width: 180px;
  height: 150px;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  width: 240px;
  height: 150px;
}
.text_below {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    font-family: "Exo 2", sans-serif;
  }
}
